$white-color: #FFFFFF;

$primary-color: #b71c1c;
$primary-color-lighter: #e53935;
$required-field-color: #7f0000;

$text-color: #37474f;

$tabs-toggle-link-active-background-color: $primary-color;
$tabs-toggle-link-active-border-color: $primary-color;
$tabs-link-active-color: $primary-color;
$tabs-link-active-border-bottom-color: $primary-color;
$input-arrow:$primary-color;
$input-focus-border-color: $primary-color;
$border-light-color: #ddd;
