.title {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 65px;
    margin-bottom: 20px;
    padding: 70px 70px 5px 5px;
}

.app {
    font-family: "Montserrat", "Arial", serif;
    color: #37474f;
    font-size: 15px;
    font-weight: 300;
    /**   background-color: white; **/
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #37474f;
}

.header {
    text-align: right;
    background-color: #b71c1c;
    height: 100%;
    color: white;
    padding: 15px;
}

.body-container {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin: 30px;
    padding: 30px;
    background: white;
    height: 100%;
}

.button {
    background-color: #b71c1c;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 10px;
}

.button:hover {
    background-color: #e53935;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.custom-alert {
    padding: 20px;
    margin: 20px;
}


.custom-row:hover {
    cursor: pointer;
    background-color: #e53935 !important;
    color: white !important;
}

.selected-row {
    background-color: #b71c1c !important;
    color: white;
}

.selected-row:hover {
    cursor: pointer;
}

hr {
    color: white;
    border: 2px solid white !important;
}

.table-header-body {
    padding: 10px;
}
.table-scrollable thead th {
    position: sticky;
    top: 0;
}

.table-scrollable {
    overflow-y: auto;
    height: 500px;
}

.thead-custom {
    background-color: white;
    padding: 3px;
    margin-top: 30px;
    border-top: none !important;
    width: 30%;
}

.column-width-small {
    width: 10%;
}

.match-table {
    width:100%;
}

.table-header {
    text-align: left;
    align-items: flex-start;
}

.table-header-input {
    margin-bottom:65px;
}

.items-result {
    color:grey;
    text-align: right;
}

.badge {
    font-size: larger !important;
}

.search-input {
    padding: 0 20px 0 20px;
}

.modal-title-header {
    background-color: #b71c1c;
    color: white;
    padding: 30px;
    font-size: 20px;
    width:100%;
    text-align: center;
    border-radius: 19px 19px 0 0;
  }

  .modal-title{
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    margin: 10px;
  }

  .modal-content{
      border-radius: 20px !important;
  }